vendor
.phpstorm.meta.php
config/app.*.yaml
.phpunit.result.cache
.php_cs.cache
.env.local
.env.*.local
.idea

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
